# Arquivo da configuração do Apache Server

RewriteEngine On

# Ativa o modo de reescrita de URL

RewriteCond %{REQUEST_FILENAME} !-d

# Verifica se o caminho requisitado não é uma pasta
# Se for pasta, não aplica a URL amigável

RewriteCond %{REQUEST_FILENAME} !-f

# Verifica se o caminho requisitado não é um arquivo
# Se for um arquivo, não aplicará a regra

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Redireciona a qualquer caminho inexistente no servidor para o index.php
# Leva consigo o parâmetro da url antiga para consulta

# Example: http://localhost/book-store/public/index.php/book/id/8
# Above url will be rewrite into:
# http://localhost/book-store/public/index.php?url=book/id/8
# Captura o valor da url para fazer o roteamento

