@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: 'Denk One';
    src: url('../../font/Denk One.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Instrument Sans", sans-serif;
    color: white;
}